@import url(general.css);

main{
    margin: 3em 0;
}
.contenedor-uno{
    display: flex;
    flex-direction: column;
    background-color: var(--gris);
    width: 80%;
    margin: auto;
    padding: 1.5em;
}
.contenedor-uno:hover{
    transition: 0.5s;
    filter: drop-shadow(0 0.5vh 0.5vh #cecece);
}
.contenedor-dos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    Justify-content: space-evenly;
    align-items: start;
}

h1{
    text-align: center;
}
.tit-cont{
    text-align: start;
    padding-top: 1em;

}
.ingreso{
    width: 100%;
}
.datos {
    padding: 0.5em 0;
    border-bottom: 1px solid var(--blanco);
}
.contacto{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    width: auto;
    margin: 0 0.5em;
}
.dato{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0.5em 0;
    justify-content: center;
    align-content: center;
}
.contacto i {
color: var(--rosa);
padding-right: 0.5em;

}
.form-contacto{
    width: 24em;
    margin: 0 0.5em;
}
.form-contacto span{
    color: var(--rosa);
}
.btn {
    margin: 1em 0;
    float: right;
}

.mapa h2{
    padding: 3em 0;
}
.mapa{
    margin: 0;
}

.contacto ul i, .contacto ul p{
    display: inline-block;
    padding-top: 0.5em;
}

